{% extends "base.html" %}

{% block title %}
    {{ recipe_object.title}} - Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
        </nav>
    </header>
    <main class="recipe-details">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>
                {% if recipe_object.id %}
                    Update
                {% else %}
                    Create
                {% endif %}
            </button>
        </form>
    </main>
{% endblock content %}
