{% extends "base.html" %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            {% if user.is_authenticated %}
                <a href="{% url 'my_recipe_list' %}">My Recipes</a>
                <a href="{% url 'create_recipe' %}">Create A Recipe</a>
                Hello, {{ user.username }}
                <a href="{% url 'user_logout' %}">Log out</a>
            {% else %}
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'user_login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div id="recipe-block-details-page">
            <div class="recipe-list">
                {% for recipe in recipe_list %}
                <div class="recipe-item">
                    <h3>
                        <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }} - {{ recipe.created_on|date:"N j, Y"}}</a>
                    </h3>
                    <img src="{{ recipe.picture }}" alt="Photo of tacos">
                    <div>4.3 stars</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock content %}
