@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 24px;
    background-color: #b4cf66;
    position: sticky;
    bottom: 0;
}

img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    box-shadow: 0px 2px 5px #6a6a6a;
    border-radius: 2%;
}

nav {
    padding: 16px;
    border-bottom: 1px solid #9c5d41;
    background-color: #ff5a33;
    color: #ffffff;
}

h1 {
    color: #146152;
    text-shadow: 0px 2px 5px #6c6e6e;
}

nav a {
    color: #ffffff;
    padding: 0 10px;
}

nav a:hover {
    color: #ffcec4;
}

.recipe-details {
    padding: 16px 16px 16px max(10%, 50px);
}

.ingredients-list tr:nth-child(even) {
    background-color: #e5e5e5;
}

#recipe-block-details-page {
    justify-content: center;
}

.recipe-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.recipe-list a {
    color: #44803f;
}

.recipe-list a:hover {
    color: #3f5780;
    animation-duration: 0.2s;
    animation-name: zoomtext;
    font-size: 110%;
    text-shadow: 0px 2px 10px #c0c0c0;
}

.recipe-item {
    height: max-content;
    text-align: center;
    padding: 0 16px;
}

.recipe-item h3 {
    height: 2.5em
}

.details_image_with_rating {
    width: fit-content;
    text-align: center;
}


@keyframes zoomtext {
    from {
        font-size: 100%;
        color: #44803f;
    }

    to {
        font-size: 110%;
        color: #3f5780;
        text-shadow: 0px 2px 10px #c0c0c0;
    }
}
